body {
  margin: auto;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1000px;
  background-color: rgb(224, 224, 224);
}
.newsRoot {
  background-color: rgb(255, 255, 255);
  margin: auto;
  padding-left: 10%;
  padding-top: 1%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.img {
  width: 600px;
}

.newsMini {
  float: right;
  font-size: 40pt;
  margin-right: 100px;
}

.imgMini {
  width: 300px;
  margin-top: 2em;
  margin-bottom: 50px;
  float: left;
}
.post {
  max-width: 600px;
  margin: 10px 0 5px 0;
  padding: 5px 20px 20px 20px;
  background-color: rgb(240, 240, 240);
  border: rgb(255, 255, 255) solid 1px;
}

button {
  background: #addaff;
  border: none;
  margin: 0.5%;
  position: relative;
  letter-spacing: .1em;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
  color: rgb(39, 39, 39);
}
.buttonInPost{
  margin: 4% 0 0 80%;
}
p {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input {
  padding: 5px 10px 5px 10px;
}

.description {
  float: left;
  max-width: 250px;
  float: right;
}